{% put scripts %}
    <script>
        window.cookieconsent_options = {
            message: '{{ message }}',
            dismiss: '{{ dismiss }}',
            learnMore: '{{ learnMore }}',
            link: {{ (link == 'null') ? 'null' : "'"~link~"'"|raw }},
            container: {{ (container == 'null') ? 'null' : "'"~container~"'"|raw }},
            theme: {{ theme|raw }},
            path: '{{ path }}',
            expiryDays: {{ expiryDays }}
        };
    </script>
    {% if version == 'null' %}
        <script src="{{ script|app }}" type="text/javascript"></script>
    {% else %}
        <script src="//s3.amazonaws.com/cc.silktide.com/cookieconsent.{{ version }}.min.js" type="text/javascript"></script>
    {% endif %}
{% endput %}
